.wp-block-fellyph-tutorial-02 {
  background: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
  padding: 2em;
  border: 3px solid #666;
  color: white;
  font-size: 20px;
  font-weight: 500;
  box-sizing: border-box;
  transition: background 300ms linear;
}

.wp-block-fellyph-tutorial-02:hover {
  background: linear-gradient(60deg, #12c2e9, #c471ed, #f64f59);
}